@tailwind base;
@tailwind components;
@tailwind utilities;

/* stile base */
:root { color-scheme: dark; }
body { @apply bg-neutral-950 text-neutral-100; }
.card { @apply bg-neutral-900/80 rounded-2xl border border-neutral-800 p-5 shadow-xl; }
.h1 { @apply text-3xl md:text-5xl font-semibold; }
